<h1>New Recipe</h1>

<form action="/recipes" method="post">
  <div>
    Title: <input type="text" name="title">
  </div>
  <div>
    Ingredients: <input type="text" name="ingredients">
  </div>
  <div>
    Directions: <input type="text" name="directions">
  </div>
  <div>
    Image Url: <input type="text" name="image_url">
  </div>
  <div>
    Prep Time: <input type="number" name="prep_time">
  </div>
  <input type="submit" value="Create Recipe">
</form>